*{
    font-family: ;
}
#myh1tag{
    background-color: black;
    color: white;
}
h1 span {
    color: beige;
}
#myh2tag{
    background-color: rebeccapurple;
    color: beige;
    text-align: center;
    font-style: italic;
}
#myh3tag{
    background-color: aquamarine;
    color: palevioletred;
    text-align: right;
    text-decoration-line: underline;
}